@model LogInViewModel

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<h1>LogIn</h1>

<form asp-action="LogIn" method="post">
    <div asp-validation-summary="All"></div>


    <div class="form-group first">
        <label for="email">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Email">
    </div>

    <div class="form-group first">
        <label for="password">Password</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Password">
    </div>
    
    <div class="wthree-text">
        <label class="anim">
            <input asp-for="RememberMe" class="checkbox" />
            <span>Keep Me Signed in</span>
        </label>
        <div class="clear"></div>
    </div>

    <input type="submit"  value="Login" class="btn btn-block btn-primary">
    </form>

   
    @* <div class="d-flex mb-5 align-items-center">
        <label class="control control--checkbox mb-0">
            <span class="caption">Remember me</span>
            <input type="checkbox" checked="checked" />
            <div class="control__indicator"></div>
        </label>
        <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
    </div> *@
